# Файлы сборки
nbproject/Makefile-*
nbproject/private/
dist/
build/

# Скомпилированные файлы
*.hex
*.cof
*.elf
*.o
*.d
*.p1
*.lst
*.map

# Лог-файлы
*.log
*.err
*.dep

# Файлы временных настроек IDE
*.swp
.DS_Store
Thumbs.db
